<a href="https://colab.research.google.com/github/CVaishnaviReddy/Python-Full-Stack-Development/blob/main/26_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tpl1=(1,2,3)
tpl2=(4,5,6)
tpl3=tpl1+tpl2
print(tpl1)
print(tpl2)
print(tpl3)

(1, 2, 3)
(4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [3]:
my_tuple=()
print(my_tuple)

()

In [1]:
my_tuple=(1,2,3)
print(my_tuple)

(1, 2, 3)

In [2]:
my_tuple=("VEER",[8,4,6],[1,2,3])
print(my_tuple)

('VEER', [8, 4, 6], [1, 2, 3])

In [3]:
my_tuple[1][1]=23
print(my_tuple)

('VEER', [8, 23, 6], [1, 2, 3])

In [4]:
print((1,2,3)+(4,5,6))
print(("repeat",)*4)

(1, 2, 3, 4, 5, 6)
('repeat', 'repeat', 'repeat', 'repeat')

In [5]:
a=(1,2,3)
b=(4,5,6)
c=a+b
print(a)
print(b)
print(c)

(1, 2, 3)
(4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [6]:
my_tuple= ('hello')
print(type(my_tuple))

<class 'str'>

In [7]:
tpl1=(1,2,3)
tpl2=(4,5,6)
tpl3=tpl1+tpl2
print(tpl1)
print(tpl2)
print(tpl3)

(1, 2, 3)
(4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [8]:
print(type(tpl3))

<class 'tuple'>

In [10]:
tp=(0,1)
all(tp)

False

In [11]:
tp1=(1,2,3,4)
all(tp1)

True

In [12]:
tp2=(1,2,3,4)
all(tp2)

True

In [13]:
tp3=("",1,2,3,4)
all(tp3)

False

In [14]:
enumtp2=(enumerate(tp2))
print(list(enumtp2))

[(0, 1), (1, 2), (2, 3), (3, 4)]

In [15]:
list1=[1,2,3]
tpWithList=tuple(list1)
print(type(tpWithList))
print(tpWithList)

<class 'tuple'>
(1, 2, 3)

In [16]:
tp4=4,3,7,5,1,9

In [17]:
print(type(tp4))

<class 'tuple'>

In [18]:
sorted(tp4)

[1, 3, 4, 5, 7, 9]

In [19]:
print(max(tp4))

9

In [22]:
s1={'c','a','b','d'}
print(s1)

{'c', 'b', 'd', 'a'}

In [23]:
sorted(s1)

['a', 'b', 'c', 'd']