<a href="https://colab.research.google.com/github/CVaishnaviReddy/Python-Full-Stack-Development/blob/main/26_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tpl1=(1,2,3)
tpl2=(4,5,6)
tpl3=tpl1+tpl2
print(tpl1)
print(tpl2)
print(tpl3)

(1, 2, 3)
(4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [3]:
my_tuple=()
print(my_tuple)

()

In [4]:
print(type(tpl3))

<class 'tuple'>